* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  /* Set base font size equivalent to 10px for easy rem calculations */
  /* Use percentages for accessibility */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: rgb(30 36 99);
  display: flex;
  flex-direction: column;
}


/* For google icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px rgb(133 184 250);
  padding: 1.5rem 3rem;
}

header > h2 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
}

header > h2 .icon {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: 1px;
  font-size: 6rem;
  color: rgb(133 184 250);
}

header div .icon {
  font-size: 3.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}
header div .icon:hover {
  cursor: pointer;
  background-color: rgb(229 229 229);
}
header div .icon:active {
  background-color: rgb(210 210 210);
}

#mode-icon-wrapper .icon {
  font-variation-settings:
  'FILL' 1;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 7.7rem;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(30 36 99);
  color: white;
}

.icon:hover + .tooltip-text {
  visibility: visible;
}

#menu-icon-wrapper .tooltip-text {
  left: 1rem;
}
#mode-icon-wrapper .tooltip-text {
  right: 1rem;
}



.project-item:hover {
  background-color: blueviolet;
}


#content-wrapper {
  display: flex;
  flex: 1;
}
nav {
  border: solid 2px rgb(131, 131, 238);
  width: 30%;

}
#tasks-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-bottom: solid 2px rgb(131, 131, 238);
}
#projects-panel {
  /* width: 30%; */
  /* min-width: 250px; */
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

#projects-list li {
  margin: 5px 0;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* .project-wrapper h3 {
  background-color: blueviolet;
} */

/* .project-wrapper h3:hover {
  background-color: rgb(96, 119, 237);
}
.project-wrapper h3:active {
  background-color: rgb(56, 27, 245);
} */


h3 {
  width: 100%;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
}
#task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 2px green;
  padding: 10px;
  width: 50%;
}
#add-task {
  margin: 20px 0;
}


.task-item {
  border: solid 2px blue;
  margin: 10px;
  padding: 10px;
}
.task-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}


footer {
  display: flex;
  border: 3px solid black;
  padding: 30px;
}


.delete {
  width: 50px;
  height: 25px;
}

.hidden {
  display: none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

