* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
html {
  /* Set base font size equivalent to 10px for easy rem calculations */
  /* Use percentages for accessibility */
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  color: rgb(30 36 99);
  display: flex;
  flex-direction: column;
  background-color: rgb(243 243 243);
}

/* For google icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

/* Icons next to list items, logo, buttons */
.decor-icon {
  font-size: 3.3rem;
}

button {
  font-family: 'Roboto', sans-serif; 
  font-size: 1.7rem;
  color:rgb(30 36 99);
  padding: 0.4rem;
  border-radius: 5px;
  border: solid 2px;
}
button:hover {
  background-color: rgb(230 230 220);
  cursor: pointer;
}
button:active {
  box-shadow: 1px 1px 1px;
  background-color: rgb(220 220 220);
}
button .decor-icon {
  font-size: 2.5rem;
}

/* Task-view, projects, tasks lists */
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
li {
  border-radius: 5px;;
}
li:hover {
  cursor: pointer;
}

/* Used to hide target element */
.hidden {
  display: none !important;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px rgb(30 36 99);
  padding: 1.5rem 3rem;
}
/* Page logo */
header h2 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
}
/* Add task logo icon */
/* .decor-icon overrides .material-symbols-rounded  */
header .decor-icon {
  vertical-align: bottom;
  position: relative;
  top: 1px;
  font-size: 6rem;
  color: rgb(133 184 250);
}
/* header action icons */
.menu-icon, 
.theme-icon {
  font-size: 3.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.menu-icon:hover, 
.theme-icon:hover {
  cursor: pointer;
  background-color: rgb(230 230 230);
}
.menu-icon:active, 
.theme-icon:active {
  background-color: rgb(220 220 220);
}
/* Icon tooltip text */
.tooltip-text {
  position: absolute;
  z-index: 10;
  top: 7.7rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(30 36 99);
  color: white;
  opacity: 0;
  transition: opacity .4s;
}
.menu-icon:hover + .tooltip-text,
.theme-icon:hover + .tooltip-text {
  opacity: 1;
}
#menu-icon-wrapper .tooltip-text {
  left: 1rem;
}
#theme-icon-wrapper .tooltip-text {
  right: 1rem;
}


/* Container holding nav and main panel */
#content-container {
  display: flex;
  flex: 1;
}

nav {
  border-right: solid 1px rgb(30 36 99);
  background-color: white;
  flex: 1;
  min-width: 21rem;
}
/* Nav sub-containers, main */
main,
nav section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
/* Nav sub-container headers */
nav section h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
/* tasks-panel */
nav section:first-child {
  border-bottom: solid 1px rgb(30 36 99);
}
/* View, project items */
nav li:hover {
  background-color: rgba(194 219 251 / 0.5);
}
nav li:active {
  background-color: rgb(194 219 251);
}
/* Item content */
/* View options, projects content*/
nav li > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 0.7rem;
}
/* Project titles */
h3 {
  width: 100%;
}

/* Use to show selected option in nav */
.highlight {
  background-color: rgb(194 219 251);
  border: solid 2px;
}

/* Add proj, add task button */
nav section > button,
main > button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 16rem;
}

/* Add project, task forms */
form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(30 36 99);
  border-radius: 5px;
  padding: 1.2rem;
}
/* Form button container (Submit, Cancel) */
form div {
  display: flex;
  gap: 1rem;
}
form button {
  width: 30%;
  min-width: 7rem;
}
/* Add project form */
nav form {
  align-self: center;
  align-items: center;
}
/* Input boxes */
input {
  border: none;
  padding: 1px 4px;
  height: 3.4rem;
  width: 100%;
  font-size: 1.7rem;
  border-radius: 5px;
}
/* Details input box */
textarea {
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 4px;
  font-size: 1.7rem;
  border-radius: 5px;
}
/* Important label */
label[for = task-important-input],
label[for = edit-important-input] {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  width: 50%;
}
input[type = "checkbox"] {
  height: 2.4rem;
  width: 20%;
}

main {
  flex: 3;
  align-items: center;
}
/* Main header */
h1 {
  font-size: 5rem;
  font-weight: 700;
}
/* Task list container */
main > h1 + div {
  width: 70%;
}

/* Task items */
main li {
  border: solid 2px rgb(30 36 99);
  padding: 1rem;
}
main li:hover {
background-color: white;
}
/* Task header */
main li h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
/* Task item content (.task-wrapper) */
main li > div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  /* padding: 0.4rem 0.7rem; */
}

/* Wrapper for task name, details */
.task-descr-wrapper {
  width: 100%;
  word-break: break-word;
}
/* Wrapper for task due date, flag, edit icons */
.task-edit-wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 0.2rem; */
  min-width: fit-content;
}
.task-due-date {
  border: solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 0.8rem;
  /* Vertically align text middle */
  line-height: 2rem;
}

/* Page actionable icons */
.delete-icon,
.important-icon, 
.edit-icon {
  font-size: 3rem;
  border-radius: 50%;
}
.delete-icon:hover,
.important-icon:hover,
.edit-icon:hover {
  background-color: rgb(230 230 230);
}
.delete-icon:active,
.important-icon:active,
.edit-icon:active {
  background-color: rgb(220 220 220);
} 
.important-icon, 
.edit-icon {
  padding: 0.1rem;
}
.delete-icon {
  background-color: white;
  padding: 0.4rem;
}
.important-icon {
  font-variation-settings:
  'FILL' 0;
}
/* Fill to indicate important task*/
.important {
  font-variation-settings:
  'FILL' 1;
}

/* Task form sub-container, buttons container */
main form > div {
  justify-content: center;
}
/* Wrapper holding delete text and icon */
.delete-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  width: 50%;
}
/* Edit task form delete icon */
.delete-wrapper .delete-icon {
  color: rgb(30 36 99);
  font-size: 2.7rem;

}
/* Add task icon for Add Task button */
main > button > span {
  color: rgb(133 184 250);
}


footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: solid 3px rgb(30 36 99);
  padding: 1.5rem 3rem;
  height: 10%;
}
/* Github link */
footer a {
  text-decoration: none;
  color: rgb(30 36 99);
  font-size: 2rem;

  position: relative;
}
/* Github img */
/* Use class selector, easier to change on github link hover */
.github {
  height: 2.7rem;
  position: relative;
  top: 4px;
  right: 3px;

  /* Change color of image to dark blue (text color) */
  filter: invert(13%) sepia(17%) saturate(7499%) hue-rotate(222deg) brightness(94%) contrast(99%);
}
/* Change github link + image color on hover */
footer a:hover {
  color: rgb(133 184 250);
}
footer a:hover .github {
  filter: invert(72%) sepia(5%) saturate(5184%) hue-rotate(184deg) brightness(99%) contrast(98%);
}
/* Change github link + image color on click */
footer a:active {
  color: rgb(103 166 248);
}
footer a:active .github {
  filter: invert(71%) sepia(28%) saturate(5239%) hue-rotate(188deg) brightness(97%) contrast(101%);
}


/* Task completed checkbox */
.checkbox {
  align-self: flex-start;
  height: 2rem;
  min-width: 2rem;
  border: solid 1px rgb(30 36 99);
  border-radius: 50%;
  margin-left: 5px;
}
.checkbox:hover {
  background-color: rgb(230 230 230);
}
.checkbox:active {
  background-color: rgb(220 220 220);
}
/* Adds check mark to checkbox */
.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(133 184 250);
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: 2px;
  left: 11px;
  transform: rotate(45deg);
  height: 12px;
  width: 5px;
}
/* Shade completed task items */
.completed {
  background-color: rgb(145 145 145);
}
.completed:hover {
  background-color: rgb(145 145 145);
}
/* Cross out task header and details */
.crossed {
  text-decoration: line-through;
}

/* One nuance with absolute positioning is that it will be locked relative to its closest positioned ancestor. If you forget to add a position rule to the parent item, (this is typically done using position: relative;), the browser will keep looking up the chain and ultimately default to the body tag. */



